body {
    background-color: #ffffff;
    color: #003740;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1; /* Allow the main content to grow and take up the available space */
}

  main > header {
    display: flex;
    left:0; right:0;
    height: 92px;
    justify-content: space-between;
    align-items: center;
    background-color: #003740;
    padding: 2em;
    margin: 1em;
    padding-right: 3em;
}

main > header h1,
main > header a.button {
    color: #003740;
    text-decoration: none;
}

main > header a.button.button-outline {
    color: white;
    border-color: white;
}

  main > header h1 a {
    color: white;
    margin: 0;
  }
  main > header a.button {
    margin: 1em;
    justify-self: center;
  }
  main > header span {
    margin: 1em;
    justify-self: center;
  }
  #cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #cards article.card {
    display: flex;
    flex-direction: column;
    background-color: #d3edc3;
    padding: 1em;
    margin: 1em;
  }
  #cards article.card header {
    display: flex;
    align-items: center;
  }
  #cards article.card header h2 {
    flex-grow: 1;
  }
  #cards article.card header a.delete {
    display: none;
    font-size: 2.6rem;
    margin-top: .5rem;
    margin-bottom: 2.5rem;
    line-height: 1.25;
  }
  #cards article.card header:hover a.delete {
    display: inline;
  }
  #cards article.card li {
    list-style-type: none;
  }
  #cards article.card li label {
    display: flex;
    align-items: baseline;
  }
  #cards article.card li label span {
    margin-left: .5em;
    flex-grow: 1;
  }
  #cards article.card li label a {
    display: none;
  }
  #cards article.card li label:hover a {
    display: inline;
  }
  #cards article.card input:checked + span {
    text-decoration: var(--primary-color) solid line-through;
  }
  #cards article.card ul {
    margin: 0;
  }
  #cards article.card form {
    margin: 0;
  }
  #cards article.card input[type=text] {
    background-color: white;
    margin: 0;
  }
  #content label {
    font-weight: normal;
  }
  #content > form {
    margin: 0 auto;
    padding: 1em;
    max-width: 20em;
    border: 1px solid #ccc;
  }
  #content > form .error {
    font-weight: bold;
    color: #ff3333;
  }
  #content > form .success {
    font-weight: bold;
    color: #106af1;
  }
  #content > form input {
    background-color: white;
  }
  @media (max-width: 70em) {
    #cards {
      grid-template-columns: repeat(2, 1fr);
    }
    main > header {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    main > header h1 {
      grid-row-end: span 2;
    }
  }
  @media (max-width: 40em) {
    #cards {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 25em) {
    body {
      margin: 0;
    }
    main > header {
      margin: 0;
      padding: 0.5em;
    }
    main > header span {
      margin: 0;
    }
    #content form {
      margin: 0;
      max-width: 25em;
    }
    article.card {
      margin: 0;
      border-bottom: 1px solid rgba(96, 108, 118, 0.4);
    }
  }
  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #003740;
    border-color: #003740;
  }
  a.button {
    background-color: white;
    border-color: white;
    color: #003740
  }
  a.button.button-outline {
    color: white;
  }
  a {
    color: #003740;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #003740;
  }


.home-container {
  display: grid;
  grid-template-columns: 0.7fr 4fr; /* Adjust the width of the sidebar as needed */
  gap: 20px;
  padding: 20px;
  margin: 1em;
  background-color: #e5e5e5c7;
}

.product {
  background-color: #f2f2f28a;
  padding: 20px;
  border: 1px solid #00374052;
  border-radius: 8px;
}

.shopping-cart {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

h1, p {
  color: #003740;
  margin-bottom: 10px;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.purchases-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between purchases */
}

.purchase {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #f2f2f253;
  background-color: #f2f2f2dc;
  margin: 0;
  padding: 20px;
}

.purchase a {
  text-decoration: none;
  color: #003740;
}

.purchase p {
  color: #003740;
  font-weight: bold;
  margin-bottom: 10px;
}

.x-history-product-card {
  box-sizing: border-box;
  background-color: #f2f2f28a;
  padding: 20px;
  border: 1px solid #00374052;
  border-radius: 8px;
  width: 100%; /* Set to a specific value or percentage */
  max-width: 100%; /* Add this line to ensure the card doesn't exceed the width of its container */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%; /* Set to a specific value or percentage */
}


@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%; /* Set to a specific value or percentage */
}


@media (min-width: 1200px) {
  .home-grid {
    grid-template-columns: repeat(3, 2fr);
  }
}

.purchases-container a p {
  font-size: small;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px; /* Adjust the gap between user cards */
}

.user-box {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #00374052;
  border-radius: 8px;
}

.products_search {
  padding: 1em;
}

.about_us {
  background-color: #e5e5e5c7;
  padding: 20px;
  margin: 1em;
  text-align: center; /* Center text content */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.about_us hr {
  width: 15%; /* Adjust the width of the line */
  border: 1px solid #333; /* Adjust the color and thickness as needed */
  margin-top: 3em; /* Adjust the spacing above the line */
  margin-bottom: 3em; /* Adjust the spacing below the line */
}

.about_us h1 {
  margin-top: 0.5em;
  margin-bottom: 0.65em;
}
.about_us ul {
  font-weight: bold;
  text-align: left; /* Reset text alignment for the ul */
  list-style-type: none; /* Remove default list styles */
  padding:0em;
  margin: 0em;
}

.about_us ul p {
  font-size:large;
}

.about_us ul ul{
  text-align: left; /* Reset text alignment for the ul */
  list-style-type: none; /* Remove default list styles */
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.about_us li {
  font-weight: normal;
}

.reach_out {
  font-size: smaller;
}

.about_us a.button {
  background-color: #003740;
  color: white;
  margin: 1em;
  margin-bottom: 3em;
}

.blue {
  color: blue;
}

.contact_us {
  background-color: #e5e5e5c7;
  padding: 5em;
  margin: 1em;
}


.contact_us li {
  margin:1em;
  list-style: none;
  font-weight: bold;
}

.contact_us p {
  font-weight: normal; /* Reset font-weight for <p> inside .contact_us if needed */
}

ul.contact-list {
  list-style-type: none;
  padding: 1em;
  margin-bottom: 0;
}

ul.contact-list li {
  margin-bottom: 15px;
  position: relative;
}

ul.contact-list i {
  position: absolute;
  left: 13em;
  top: 50%;
  transform: translateY(-50%);
  font-size: x-large;
  margin-left: 10px; /* Adjust the spacing between the icon and text */
  color: #003740; /* Adjust the color based on your design */
}

.product button {
  color: #003740;
  border-color: #003740; /* Reset font-weight for <p> inside .contact_us if needed */
}

#popup {
  font-weight: bold;
  display: none;
  position: fixed;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 1.5em;
  background-color: rgb(144, 202, 222);
  z-index: 1000;
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  from {
      top: -100%;
  }
  to {
      top: 0;
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

footer {
  margin: 1em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #003740;
  color: #fff;
  padding: 20px;
}

footer p {
  color: #fff;
  padding-left: 20px;
  font-size: x-small;
}

footer p a {
  color: #fff;
  font-size: small;
  font-weight: bold;
}

/* Pagination Styles without Custom Properties */
.pagination {
  display: flex;
  padding:1em;
  list-style: none;
  justify-content: center; 
  text-align: center;
}

.pagination ul {
  margin: 1em;
}

.pagination p {
  margin: 1em;
}

.pagination a,
.pagination span,
.pagination .prev,
.pagination .next {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #005d6c;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.pagination a:hover,
.pagination .prev:hover,
.pagination .next:hover {
  color: #fff;
  background-color: #003740;
}

.pagination .active {
  color: #fff;
  background-color: #003740;
  cursor: default;
}

.pagination .disabled {
  color: #ecf0f1;
  background-color: #003740dc;
  cursor: not-allowed;
}

.header-buttons {
  display: flex;
  gap: 1em; /* Adjust the gap between buttons */
}

.user-button {
  padding-left: 3em;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  justify-content: center;
  position: relative; /* Set position to relative */
}

/* Your existing styles */

.mini-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mini-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mini-menu li {
  margin: 0;
}

.mini-menu a {
  text-decoration: none;
  color: #003740;
  display: block;
  padding: 0.7em 1.3em;
  transition: background-color 0.3s ease;
}

.mini-menu a:hover {
  background-color: #e5e5e5;
  color: #003740;
}

.mini-menu.active {
  display: block;
}

.buttonss {
  /* Your existing button styles */

  /* Adjust padding and alignment for the icon */
  padding-left: 3em;
  display: flex;
  align-items: center;
  color: white;
}

.buttonss i {
  margin-right: 0.7em; /* Adjust the spacing between the icon and text */
}

.menu-button {
  background-color: white;
  padding: 1em 2em;
}