openapi: 3.0.0

info:
  version: '1.0'
  title: 'Bibliophiles Bliss'
  description: 'Web Resources Specification (A7) for Bibiophiles Bliss'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Products'
  - name: 'M03: Reviews'
  - name: 'M04: Wishlist, Shopping Cart and Purchases'
  - name: 'M05: User Administration and Static pages'

paths:
  /register:
    get:
      operationId: R101
      summary: 'R101: Register Form'
      description: 'Provide new user registration form. Access: PUB,ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    post:
      operationId: R102
      summary: 'R102: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                confirmPassword:
                  type: string
              required:
                - name
                - email
                - password
                - confirmPassword

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '/'
                302Failure:
                  description: 'Failed authentication. Redirect to registation form.'
                  value: '/register'

  /login:
    get:
      operationId: R103
      summary: 'R103: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R104
      summary: 'R104: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '/'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /users/{user_id}:
    get:
      operationId: R105
      summary: 'R105: View user profile'
      description: 'Show the individual user profile. Access: USR,ADM'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: user_id
          description: The user id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
          
  /users:
    get:
      operationId: R501
      summary: 'R501: Search User'
      description: 'Perform exact search to show user. Access: ADM'
      tags:
        - 'M06: User Administration and Static pages'
      parameters:
        - in: query
          name: email
          description: The user email
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Success  
    put:
      operationId: R106
      summary: 'R106: Edit Profile Action'
      description: 'Processes the new user profile information. Access: USR,ADM'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                    type: integer
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                confirmPassword:
                  type: string
                profilePicture:
                  type: string
              required:
                - name
                - email
                - password
                - confirmPassword
                - profilePicture

      responses:
        '302':
          description: 'Redirect after processing the new profile information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Profile successfully edited. Redirect to user profile.'
                  value: '/users/{user_id}'
                302Failure:
                  description: 'Profile failed edit . Redirect to user profile.'
                  value: '/users/{user_id}'


  /logout:

    post:
      operationId: R107
      summary: 'R107: Logout Action'
      description: 'Logout the current authenticated user. Access: USR,ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'


  /:
    get:
      operationId: R201
      summary: 'R201: view or search home page'
      description: 'Show home page. Access: PUB,USR,ADM'
      tags:
        - 'M02: Products'
      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: category
          description: Category of the products
          schema:
            type: string
          required: false
        - in: query
          name: price
          description: Price of the products
          schema:
            type: integer
          required: true
      responses:
        '200':
         description: Success

  /products/{product_id}:
    get:
      operationId: R202
      summary: 'R202: view product details page'
      description: 'Show product details page. Access: PUB,USR,ADM'
      tags:
        - 'M02: Products'
      parameters:
        - in: path
          name: product_id
          description: The id of the product
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show product details page'

  /shopping-cart/{user_id}:
      get:
          operationId: R401
          summary: 'R401: view product details page'
          description: 'Show product details page. Access: PUB,USR,ADM'
          tags:
            - 'M02: Products'
          parameters:
            - in: path
              name: user_id
              description: The id of the user
              schema:
                type: integer
              required: true
          responses:
            '200':
              description: 'Ok. Show product details page'     
                    
  /api/shopping-cart:
       post:
         operationId: R402
         summary: 'R402: Add to Shopping Cart'
         description: 'Add a product to shopping cart. Access: USR,ADM'
         tags:
           - 'M04: Wishlist, Shopping Cart and Purchases'
         requestBody:
           required: true
           content:
             application/x-www-form-urlencoded:
               schema:
                 type: object
                 properties:
                   user_id:                                
                     type: integer
                   product_id:                       
                     type: integer
                 required:
                   - user_id
                   - product_id
         responses:
           '302':
              description: 'Redirect after processing adding to shopping cart.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Success:
                      description: 'Successful addition. Redirect to home page.'
                      value: '/'
                      
                      
       delete:
         operationId: R403
         summary: 'R403: Remove from Shopping Cart'
         description: 'Remove a product from a shopping cart. Access: OWN,ADM'
         tags:
           - 'M04: Wishlist, Shopping Cart and Purchases'
         parameters:
            - in: header
              name: user_id
              description: The id of the user
              schema:
                type: integer
              required: true
            - in: header
              name: cart_id
              description: The cart id of the shopping cart
              schema:
                type: integer
              required: true
         responses:
           '302':
              description: 'Redirect after processing removing from shopping cart.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Success:
                      description: 'Successful deletion. Redirect to shoppingg cart page.'
                      value: '/shopping-cart/{user_id}'             


  /checkout:
       post:
         operationId: R404
         summary: 'R404: Checkout'
         description: 'Finalise the purchase of the products in the shopping cart. Access: OWN'
         tags:
           - 'M04: Wishlist, Shopping Cart and Purchases'
         requestBody:
           required: true
           content:
             application/x-www-form-urlencoded:
               schema:
                 type: object
                 properties:
                   user_id:                        
                     type: integer
                   paymentMethod:                      
                     type: string
                 required:
                   - user_id
                   - paymentMethod
         responses:
           '302':
              description: 'Redirect after processing checkout.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Success:
                      description: 'Successful checkout. Redirect to home page.'
                      value: '/'
                    302Failure:
                      description: 'Failed during checkout. Redirect to shopping cart page.'
                      value: '/shoping-cart/{user_id}'

  /purchase-history/{user_id}:
    get:
      operationId: R405
      summary: 'R405: Purchase History'
      description: 'View Purchase History. Access: USR,ADM'
      tags:
        - 'M04: Wishlist, Shopping Cart and Purchases'
      parameters:
        - in: path
          name: user_id
          description: The id of the user
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success


  /user/create:
    get:
      operationId: R502
      summary: 'R502: Create User Form'
      description: 'Provide new create user form. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'
      responses:
        '200':
          description: Success
    post:
      operationId: R503
      summary: 'R503: Create User Action'
      description: 'Create a new User Action. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                type:
                  type: string
                password:
                  type: string
                confirmPassword:
                  type: string
              required:
                - name
                - email
                - type
                - password
                - confirmPassword

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to create user page.'
                  value: '/user/create'
                302Failure:
                  description: 'Failed authentication. Redirect to create user page.'
                  value: '/user/create'